server:
  port: 8080
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/shopapp?useSSL=false&serverTimezone=Asia/Ho_Chi_Minh
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver

    jpa:
      hibernate:
        ddl-auto: none
      show-sql: true
      open-in-view: false
      properties:
        hibernate:
          dialect: org.hibernate.dialect.MySQLDialect
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
# dat bien moi truong cho prefix api trung nhieu
jwt:
  expiration: 2592000
  secretKey: 9N/qCEUgC5VR7ElYxi06YwBEEQHfc+HL6YCbvx1pIsg=hi